RewriteEngine on
rewritecond %{http_host} ^nuxt.dinamicamente.org [nc]
rewriterule ^(.*)$ http://www.nuxt.dinamicamente.org/$1 [r=301,nc]

RewriteRule ^([^\.]+[^/])$ $1/index.html [NC,L]

ErrorDocument 404 /404/index.html
ErrorDocument 403 /404/index.html
